In [1]:
%matplotlib inline

# Dependencies

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Files to load
cmpd_data_to_load = "CMPD_Incidents.csv"

In [2]:
# Read the city data file and store it in a pandas DataFrame.
cmpd_data_df = pd.read_csv(cmpd_data_to_load)
cmpd_data_df.head(5)

/var/folders/qm/j46d3dtj50179gnjc9c9m_2c0000gn/T/ipykernel_5949/1442070803.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  cmpd_data_df = pd.read_csv(cmpd_data_to_load)

,X,Y,YEAR,INCIDENT_REPORT_ID,LOCATION,CITY,STATE,ZIP,X_COORD_PUBLIC,Y_COORD_PUBLIC,...,PLACE_TYPE_DESCRIPTION,PLACE_DETAIL_DESCRIPTION,CLEARANCE_STATUS,CLEARANCE_DETAIL_STATUS,CLEARANCE_DATE,HIGHEST_NIBRS_CODE,HIGHEST_NIBRS_DESCRIPTION,OBJECTID,GlobalID,Shape
0,1.458768e+06,470012.000130,2023,20230130-2148-03,8400 DIANTHUS CT,CHARLOTTE,NC,NaN,1458768.0,470012.0,...,Residential,Apartment/Duplex Private Res,Open,Open,NaN,899,Other Unlisted Non-Criminal,1,{FB4B1792-D10B-47A5-BB08-F4AEF2474C0A},NaN
1,1.446976e+06,582067.000101,2023,20230130-2016-02,4200 NAPA OAK DR,CHARLOTTE,NC,28216.0,1446976.0,582067.0,...,Residential,Apartment/Duplex Private Res,Open,Open,NaN,240,Motor Vehicle Theft,2,{E3139686-58A2-4DA3-BDAC-4A13EF69D16F},NaN
2,1.449721e+06,543940.999909,2023,20230130-1859-01,300 W 6TH ST,CHARLOTTE,NC,28202.0,1449721.0,543941.0,...,Retail,Grocery Store/Supermarket,Cleared by Arrest,Cleared by Arrest,2023/01/30 00:00:00+00,23D,Theft From Building,3,{87BE23A8-C56C-41EC-98DA-415CF4A268D1},NaN
3,1.478341e+06,518314.999980,2023,20230130-1858-00,7400 PEBBLESTONE DR,CHARLOTTE,NC,28212.0,1478341.0,518315.0,...,Residential,Apartment/Duplex Private Res,Open,Open,NaN,13C,Intimidation,4,{BD6D935F-BA86-4976-AD02-1DF5BD9040DA},NaN
4,1.439082e+06,510351.000160,2023,20230130-1820-02,7100 SOUTH BV,CHARLOTTE,NC,NaN,1439082.0,510351.0,...,Open Area,Street/Highway,Open,Open,NaN,90Z,All Other Offenses,5,{432DDFE2-2C5F-4E54-B449-DE683BB99514},NaN

In [3]:
# Get the columns and the rows that are not null.
cmpd_data_df.count()

X                            537801
Y                            537801
YEAR                         557713
INCIDENT_REPORT_ID           557713
LOCATION                     557713
CITY                         557713
STATE                        557709
ZIP                          384319
X_COORD_PUBLIC               537801
Y_COORD_PUBLIC               537801
LATITUDE_PUBLIC              537801
LONGITUDE_PUBLIC             537801
DIVISION_ID                  557713
CMPD_PATROL_DIVISION         556888
NPA                          557713
DATE_REPORTED                557713
DATE_INCIDENT_BEGAN          557713
DATE_INCIDENT_END            416938
ADDRESS_DESCRIPTION          557710
LOCATION_TYPE_DESCRIPTION    557712
PLACE_TYPE_DESCRIPTION       557713
PLACE_DETAIL_DESCRIPTION     557713
CLEARANCE_STATUS             557713
CLEARANCE_DETAIL_STATUS      557713
CLEARANCE_DATE               228499
HIGHEST_NIBRS_CODE           557713
HIGHEST_NIBRS_DESCRIPTION    557713
OBJECTID                     557713
GlobalID                     557713
Shape                             0
dtype: int64

In [4]:
# Get the columns and the rows that are not null.
cmpd_data_df.isnull().sum()

X                             19912
Y                             19912
YEAR                              0
INCIDENT_REPORT_ID                0
LOCATION                          0
CITY                              0
STATE                             4
ZIP                          173394
X_COORD_PUBLIC                19912
Y_COORD_PUBLIC                19912
LATITUDE_PUBLIC               19912
LONGITUDE_PUBLIC              19912
DIVISION_ID                       0
CMPD_PATROL_DIVISION            825
NPA                               0
DATE_REPORTED                     0
DATE_INCIDENT_BEGAN               0
DATE_INCIDENT_END            140775
ADDRESS_DESCRIPTION               3
LOCATION_TYPE_DESCRIPTION         1
PLACE_TYPE_DESCRIPTION            0
PLACE_DETAIL_DESCRIPTION          0
CLEARANCE_STATUS                  0
CLEARANCE_DETAIL_STATUS           0
CLEARANCE_DATE               329214
HIGHEST_NIBRS_CODE                0
HIGHEST_NIBRS_DESCRIPTION         0
OBJECTID                          0
GlobalID                          0
Shape                        557713
dtype: int64

In [7]:
# Check for duplicated rows
cmpd_data_df.duplicated().sum()

0

In [5]:
# Get the data types of each column.
cmpd_data_df.dtypes

X                            float64
Y                            float64
YEAR                           int64
INCIDENT_REPORT_ID            object
LOCATION                      object
CITY                          object
STATE                         object
ZIP                           object
X_COORD_PUBLIC               float64
Y_COORD_PUBLIC               float64
LATITUDE_PUBLIC              float64
LONGITUDE_PUBLIC             float64
DIVISION_ID                   object
CMPD_PATROL_DIVISION          object
NPA                            int64
DATE_REPORTED                 object
DATE_INCIDENT_BEGAN           object
DATE_INCIDENT_END             object
ADDRESS_DESCRIPTION           object
LOCATION_TYPE_DESCRIPTION     object
PLACE_TYPE_DESCRIPTION        object
PLACE_DETAIL_DESCRIPTION      object
CLEARANCE_STATUS              object
CLEARANCE_DETAIL_STATUS       object
CLEARANCE_DATE                object
HIGHEST_NIBRS_CODE            object
HIGHEST_NIBRS_DESCRIPTION     object
OBJECTID                       int64
GlobalID                      object
Shape                        float64
dtype: object

In [11]:
cmpd_data_df = cmpd_data_df.drop('ZIP', axis = 1)

In [12]:
cmpd_data_df.head(5)

,X,Y,YEAR,INCIDENT_REPORT_ID,LOCATION,CITY,STATE,X_COORD_PUBLIC,Y_COORD_PUBLIC,LATITUDE_PUBLIC,...,PLACE_TYPE_DESCRIPTION,PLACE_DETAIL_DESCRIPTION,CLEARANCE_STATUS,CLEARANCE_DETAIL_STATUS,CLEARANCE_DATE,HIGHEST_NIBRS_CODE,HIGHEST_NIBRS_DESCRIPTION,OBJECTID,GlobalID,Shape
0,1.458768e+06,470012.000130,2023,20230130-2148-03,8400 DIANTHUS CT,CHARLOTTE,NC,1458768.0,470012.0,35.027901,...,Residential,Apartment/Duplex Private Res,Open,Open,NaN,899,Other Unlisted Non-Criminal,1,{FB4B1792-D10B-47A5-BB08-F4AEF2474C0A},NaN
1,1.446976e+06,582067.000101,2023,20230130-2016-02,4200 NAPA OAK DR,CHARLOTTE,NC,1446976.0,582067.0,35.335142,...,Residential,Apartment/Duplex Private Res,Open,Open,NaN,240,Motor Vehicle Theft,2,{E3139686-58A2-4DA3-BDAC-4A13EF69D16F},NaN
2,1.449721e+06,543940.999909,2023,20230130-1859-01,300 W 6TH ST,CHARLOTTE,NC,1449721.0,543941.0,35.230544,...,Retail,Grocery Store/Supermarket,Cleared by Arrest,Cleared by Arrest,2023/01/30 00:00:00+00,23D,Theft From Building,3,{87BE23A8-C56C-41EC-98DA-415CF4A268D1},NaN
3,1.478341e+06,518314.999980,2023,20230130-1858-00,7400 PEBBLESTONE DR,CHARLOTTE,NC,1478341.0,518315.0,35.161565,...,Residential,Apartment/Duplex Private Res,Open,Open,NaN,13C,Intimidation,4,{BD6D935F-BA86-4976-AD02-1DF5BD9040DA},NaN
4,1.439082e+06,510351.000160,2023,20230130-1820-02,7100 SOUTH BV,CHARLOTTE,NC,1439082.0,510351.0,35.137718,...,Open Area,Street/Highway,Open,Open,NaN,90Z,All Other Offenses,5,{432DDFE2-2C5F-4E54-B449-DE683BB99514},NaN

In [14]:
# Get the columns and the rows that are not null.
cmpd_data_df.count()

X                            537801
Y                            537801
YEAR                         557713
INCIDENT_REPORT_ID           557713
LOCATION                     557713
CITY                         557713
STATE                        557709
X_COORD_PUBLIC               537801
Y_COORD_PUBLIC               537801
LATITUDE_PUBLIC              537801
LONGITUDE_PUBLIC             537801
DIVISION_ID                  557713
CMPD_PATROL_DIVISION         556888
NPA                          557713
DATE_REPORTED                557713
DATE_INCIDENT_BEGAN          557713
DATE_INCIDENT_END            416938
ADDRESS_DESCRIPTION          557710
LOCATION_TYPE_DESCRIPTION    557712
PLACE_TYPE_DESCRIPTION       557713
PLACE_DETAIL_DESCRIPTION     557713
CLEARANCE_STATUS             557713
CLEARANCE_DETAIL_STATUS      557713
CLEARANCE_DATE               228499
HIGHEST_NIBRS_CODE           557713
HIGHEST_NIBRS_DESCRIPTION    557713
OBJECTID                     557713
GlobalID                     557713
Shape                             0
dtype: int64

In [15]:
# Get the columns and the rows that are not null.
cmpd_data_df.isnull().sum()

X                             19912
Y                             19912
YEAR                              0
INCIDENT_REPORT_ID                0
LOCATION                          0
CITY                              0
STATE                             4
X_COORD_PUBLIC                19912
Y_COORD_PUBLIC                19912
LATITUDE_PUBLIC               19912
LONGITUDE_PUBLIC              19912
DIVISION_ID                       0
CMPD_PATROL_DIVISION            825
NPA                               0
DATE_REPORTED                     0
DATE_INCIDENT_BEGAN               0
DATE_INCIDENT_END            140775
ADDRESS_DESCRIPTION               3
LOCATION_TYPE_DESCRIPTION         1
PLACE_TYPE_DESCRIPTION            0
PLACE_DETAIL_DESCRIPTION          0
CLEARANCE_STATUS                  0
CLEARANCE_DETAIL_STATUS           0
CLEARANCE_DATE               329214
HIGHEST_NIBRS_CODE                0
HIGHEST_NIBRS_DESCRIPTION         0
OBJECTID                          0
GlobalID                          0
Shape                        557713
dtype: int64

In [32]:
cmpd_data_df.head(2)

,X,Y,YEAR,INCIDENT_REPORT_ID,LOCATION,CITY,STATE,X_COORD_PUBLIC,Y_COORD_PUBLIC,LATITUDE_PUBLIC,...,LOCATION_TYPE_DESCRIPTION,PLACE_TYPE_DESCRIPTION,PLACE_DETAIL_DESCRIPTION,CLEARANCE_STATUS,CLEARANCE_DETAIL_STATUS,HIGHEST_NIBRS_CODE,HIGHEST_NIBRS_DESCRIPTION,OBJECTID,GlobalID,Shape
0,1.458768e+06,470012.000130,2023,20230130-2148-03,8400 DIANTHUS CT,CHARLOTTE,NC,1458768.0,470012.0,35.027901,...,Indoors,Residential,Apartment/Duplex Private Res,Open,Open,899,Other Unlisted Non-Criminal,1,{FB4B1792-D10B-47A5-BB08-F4AEF2474C0A},NaN
1,1.446976e+06,582067.000101,2023,20230130-2016-02,4200 NAPA OAK DR,CHARLOTTE,NC,1446976.0,582067.0,35.335142,...,Parking Lot,Residential,Apartment/Duplex Private Res,Open,Open,240,Motor Vehicle Theft,2,{E3139686-58A2-4DA3-BDAC-4A13EF69D16F},NaN

In [33]:
cmpd_data_df.drop(columns = ['CLEARANCE_DETAIL_STATUS'])

,X,Y,YEAR,INCIDENT_REPORT_ID,LOCATION,CITY,STATE,X_COORD_PUBLIC,Y_COORD_PUBLIC,LATITUDE_PUBLIC,...,ADDRESS_DESCRIPTION,LOCATION_TYPE_DESCRIPTION,PLACE_TYPE_DESCRIPTION,PLACE_DETAIL_DESCRIPTION,CLEARANCE_STATUS,HIGHEST_NIBRS_CODE,HIGHEST_NIBRS_DESCRIPTION,OBJECTID,GlobalID,Shape
0,1.458768e+06,470012.000130,2023,20230130-2148-03,8400 DIANTHUS CT,CHARLOTTE,NC,1458768.0,470012.0,35.027901,...,Location of occurrence,Indoors,Residential,Apartment/Duplex Private Res,Open,899,Other Unlisted Non-Criminal,1,{FB4B1792-D10B-47A5-BB08-F4AEF2474C0A},NaN
1,1.446976e+06,582067.000101,2023,20230130-2016-02,4200 NAPA OAK DR,CHARLOTTE,NC,1446976.0,582067.0,35.335142,...,Location of occurrence,Parking Lot,Residential,Apartment/Duplex Private Res,Open,240,Motor Vehicle Theft,2,{E3139686-58A2-4DA3-BDAC-4A13EF69D16F},NaN
2,1.449721e+06,543940.999909,2023,20230130-1859-01,300 W 6TH ST,CHARLOTTE,NC,1449721.0,543941.0,35.230544,...,Location of occurrence,Indoors,Retail,Grocery Store/Supermarket,Cleared by Arrest,23D,Theft From Building,3,{87BE23A8-C56C-41EC-98DA-415CF4A268D1},NaN
3,1.478341e+06,518314.999980,2023,20230130-1858-00,7400 PEBBLESTONE DR,CHARLOTTE,NC,1478341.0,518315.0,35.161565,...,Location where officer took report,Indoors,Residential,Apartment/Duplex Private Res,Open,13C,Intimidation,4,{BD6D935F-BA86-4976-AD02-1DF5BD9040DA},NaN
4,1.439082e+06,510351.000160,2023,20230130-1820-02,7100 SOUTH BV,CHARLOTTE,NC,1439082.0,510351.0,35.137718,...,Location of occurrence,Outdoors,Open Area,Street/Highway,Open,90Z,All Other Offenses,5,{432DDFE2-2C5F-4E54-B449-DE683BB99514},NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557708,1.482025e+06,542112.999956,2017,20170101-0025-07,4400 GAYNELLE DR,CHARLOTTE,NC,1482025.0,542113.0,35.227122,...,Location of occurrence,Indoors,Residential,Private Residence,Open,13A,Aggravated Assault,557709,{6ADCAD51-1C34-493B-903E-EE722AF12C41},NaN
557709,1.433072e+06,554945.999881,2017,20170101-0014-05,1100 MARBLE ST,CHARLOTTE,NC,1433072.0,554946.0,35.259915,...,Location of occurrence,Indoors,Residential,Apartment/Duplex Private Res,Open,290,Damage/Vandalism Of Property,557710,{FC4343A6-DEC0-4A2B-856B-E8C8562CAE72},NaN
557710,1.445993e+06,479096.000006,2017,20170101-0012-00,14800 BALLANTYNE VILLAGE WY,CHARLOTT,NC,1445993.0,479096.0,35.052210,...,Location of occurrence,Outdoors,Commercial Place,Bar/Tavern/Nightclub,Cleared by Arrest,13B,Simple Assault,557711,{375172B5-E0DB-4B92-9F61-C6E5EE895BB1},NaN
557711,1.449048e+06,555773.999865,2017,20170101-0011-00,2100 KENNESAW DR,CHARLOTTE,NC,1449048.0,555774.0,35.263018,...,Location of occurrence,Indoors,Residential,Private Residence,Open,290,Damage/Vandalism Of Property,557712,{060985A6-A447-4A49-9BA9-34789503FB1D},NaN
557712,1.463804e+06,534795.000157,2017,20170101-0005-01,2700 E INDEPENDENCE BV,CHARLOTTE,NC,1463804.0,534795.0,35.206127,...,Location of occurrence,Other,Commercial Place,Stadium/Arena,Cleared by Arrest,90C,Disorderly Conduct,557713,{A3373CA7-CBAE-4B97-978A-7F4B1A544E0E},NaN

In [23]:
cmpd_data_df.head(3)

,X,Y,YEAR,INCIDENT_REPORT_ID,LOCATION,CITY,STATE,X_COORD_PUBLIC,Y_COORD_PUBLIC,LATITUDE_PUBLIC,...,LOCATION_TYPE_DESCRIPTION,PLACE_TYPE_DESCRIPTION,PLACE_DETAIL_DESCRIPTION,CLEARANCE_STATUS,CLEARANCE_DETAIL_STATUS,HIGHEST_NIBRS_CODE,HIGHEST_NIBRS_DESCRIPTION,OBJECTID,GlobalID,Shape
0,1.458768e+06,470012.000130,2023,20230130-2148-03,8400 DIANTHUS CT,CHARLOTTE,NC,1458768.0,470012.0,35.027901,...,Indoors,Residential,Apartment/Duplex Private Res,Open,Open,899,Other Unlisted Non-Criminal,1,{FB4B1792-D10B-47A5-BB08-F4AEF2474C0A},NaN
1,1.446976e+06,582067.000101,2023,20230130-2016-02,4200 NAPA OAK DR,CHARLOTTE,NC,1446976.0,582067.0,35.335142,...,Parking Lot,Residential,Apartment/Duplex Private Res,Open,Open,240,Motor Vehicle Theft,2,{E3139686-58A2-4DA3-BDAC-4A13EF69D16F},NaN
2,1.449721e+06,543940.999909,2023,20230130-1859-01,300 W 6TH ST,CHARLOTTE,NC,1449721.0,543941.0,35.230544,...,Indoors,Retail,Grocery Store/Supermarket,Cleared by Arrest,Cleared by Arrest,23D,Theft From Building,3,{87BE23A8-C56C-41EC-98DA-415CF4A268D1},NaN

In [ ]:
# Drop all rows with NaN values
cmpd_data_df_clean = cmpd_data_df.dropna()
cmpd_data_df_clean

In [34]:
cmpd_data_df.isna().sum()

X                             19912
Y                             19912
YEAR                              0
INCIDENT_REPORT_ID                0
LOCATION                          0
CITY                              0
STATE                             4
X_COORD_PUBLIC                19912
Y_COORD_PUBLIC                19912
LATITUDE_PUBLIC               19912
LONGITUDE_PUBLIC              19912
DIVISION_ID                       0
CMPD_PATROL_DIVISION            825
NPA                               0
DATE_REPORTED                     0
DATE_INCIDENT_BEGAN               0
ADDRESS_DESCRIPTION               3
LOCATION_TYPE_DESCRIPTION         1
PLACE_TYPE_DESCRIPTION            0
PLACE_DETAIL_DESCRIPTION          0
CLEARANCE_STATUS                  0
CLEARANCE_DETAIL_STATUS           0
HIGHEST_NIBRS_CODE                0
HIGHEST_NIBRS_DESCRIPTION         0
OBJECTID                          0
GlobalID                          0
Shape                        557713
dtype: int64

In [47]:
# Drop all rows with NaN values
cmpd_data_df_clean = cmpd_data_df.dropna()
cmpd_data_df_clean = cmpd_data_df.dropna(axis=0)
cmpd_data_df_clean.head(3)

,X,Y,YEAR,INCIDENT_REPORT_ID,LOCATION,CITY,STATE,X_COORD_PUBLIC,Y_COORD_PUBLIC,LATITUDE_PUBLIC,...,ADDRESS_DESCRIPTION,LOCATION_TYPE_DESCRIPTION,PLACE_TYPE_DESCRIPTION,PLACE_DETAIL_DESCRIPTION,CLEARANCE_STATUS,CLEARANCE_DETAIL_STATUS,HIGHEST_NIBRS_CODE,HIGHEST_NIBRS_DESCRIPTION,OBJECTID,GlobalID
0,1.458768e+06,470012.000130,2023,20230130-2148-03,8400 DIANTHUS CT,CHARLOTTE,NC,1458768.0,470012.0,35.027901,...,Location of occurrence,Indoors,Residential,Apartment/Duplex Private Res,Open,Open,899,Other Unlisted Non-Criminal,1,{FB4B1792-D10B-47A5-BB08-F4AEF2474C0A}
1,1.446976e+06,582067.000101,2023,20230130-2016-02,4200 NAPA OAK DR,CHARLOTTE,NC,1446976.0,582067.0,35.335142,...,Location of occurrence,Parking Lot,Residential,Apartment/Duplex Private Res,Open,Open,240,Motor Vehicle Theft,2,{E3139686-58A2-4DA3-BDAC-4A13EF69D16F}
2,1.449721e+06,543940.999909,2023,20230130-1859-01,300 W 6TH ST,CHARLOTTE,NC,1449721.0,543941.0,35.230544,...,Location of occurrence,Indoors,Retail,Grocery Store/Supermarket,Cleared by Arrest,Cleared by Arrest,23D,Theft From Building,3,{87BE23A8-C56C-41EC-98DA-415CF4A268D1}

In [48]:
cmpd_data_df_clean.isna().sum()

X                            0
Y                            0
YEAR                         0
INCIDENT_REPORT_ID           0
LOCATION                     0
CITY                         0
STATE                        0
X_COORD_PUBLIC               0
Y_COORD_PUBLIC               0
LATITUDE_PUBLIC              0
LONGITUDE_PUBLIC             0
DIVISION_ID                  0
CMPD_PATROL_DIVISION         0
NPA                          0
DATE_REPORTED                0
DATE_INCIDENT_BEGAN          0
ADDRESS_DESCRIPTION          0
LOCATION_TYPE_DESCRIPTION    0
PLACE_TYPE_DESCRIPTION       0
PLACE_DETAIL_DESCRIPTION     0
CLEARANCE_STATUS             0
CLEARANCE_DETAIL_STATUS      0
HIGHEST_NIBRS_CODE           0
HIGHEST_NIBRS_DESCRIPTION    0
OBJECTID                     0
GlobalID                     0
dtype: int64

In [51]:
# Get the unique values of the type of city.
cmpd_data_df.describe()

,X,Y,YEAR,X_COORD_PUBLIC,Y_COORD_PUBLIC,LATITUDE_PUBLIC,LONGITUDE_PUBLIC,NPA,OBJECTID
count,5.378010e+05,537801.000000,557713.000000,5.378010e+05,537801.000000,537801.000000,537801.000000,557713.000000,557713.000000
mean,1.453964e+06,541306.701151,2019.531366,1.453964e+06,541306.701150,35.219832,-80.828457,206.060741,278857.000000
std,2.222391e+04,25138.646549,1.752172,2.222391e+04,25138.646549,0.656145,0.074068,124.885857,160998.019677
min,1.384875e+06,465419.000129,2017.000000,1.384875e+06,465419.000000,-80.963592,-81.055860,0.000000,1.000000
25%,1.438422e+06,525439.999838,2018.000000,1.438422e+06,525440.000000,35.179949,-80.880203,96.000000,139429.000000
50%,1.452160e+06,542000.999852,2019.000000,1.452160e+06,542001.000000,35.225357,-80.834515,199.000000,278857.000000
75%,1.471971e+06,558146.000042,2021.000000,1.471971e+06,558146.000000,35.269598,-80.768537,331.000000,418285.000000
max,1.535404e+06,645111.999995,2023.000000,1.535404e+06,645112.000000,35.508584,-80.555365,475.000000,557713.000000

In [52]:
# Get the columns and the rows that are not null.
cmpd_data_df_clean.count()

X                            537294
Y                            537294
YEAR                         537294
INCIDENT_REPORT_ID           537294
LOCATION                     537294
CITY                         537294
STATE                        537294
X_COORD_PUBLIC               537294
Y_COORD_PUBLIC               537294
LATITUDE_PUBLIC              537294
LONGITUDE_PUBLIC             537294
DIVISION_ID                  537294
CMPD_PATROL_DIVISION         537294
NPA                          537294
DATE_REPORTED                537294
DATE_INCIDENT_BEGAN          537294
ADDRESS_DESCRIPTION          537294
LOCATION_TYPE_DESCRIPTION    537294
PLACE_TYPE_DESCRIPTION       537294
PLACE_DETAIL_DESCRIPTION     537294
CLEARANCE_STATUS             537294
CLEARANCE_DETAIL_STATUS      537294
HIGHEST_NIBRS_CODE           537294
HIGHEST_NIBRS_DESCRIPTION    537294
OBJECTID                     537294
GlobalID                     537294
dtype: int64

In [53]:
# Get the data types of each column.
cmpd_data_df_clean.dtypes

X                            float64
Y                            float64
YEAR                           int64
INCIDENT_REPORT_ID            object
LOCATION                      object
CITY                          object
STATE                         object
X_COORD_PUBLIC               float64
Y_COORD_PUBLIC               float64
LATITUDE_PUBLIC              float64
LONGITUDE_PUBLIC             float64
DIVISION_ID                   object
CMPD_PATROL_DIVISION          object
NPA                            int64
DATE_REPORTED                 object
DATE_INCIDENT_BEGAN           object
ADDRESS_DESCRIPTION           object
LOCATION_TYPE_DESCRIPTION     object
PLACE_TYPE_DESCRIPTION        object
PLACE_DETAIL_DESCRIPTION      object
CLEARANCE_STATUS              object
CLEARANCE_DETAIL_STATUS       object
HIGHEST_NIBRS_CODE            object
HIGHEST_NIBRS_DESCRIPTION     object
OBJECTID                       int64
GlobalID                      object
dtype: object